---
import Form from '../components/Form.astro';
import Input from '../components/Input.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Indigitall Web Push - Login">
  <section class="flex flex-col gap-8">
    <Form id="formLogin" submitId="submit" title="Login" labelSubmit="Submit">
      <Input id="email" type="text" label="Email" />
      <Input id="password" type="password" label="Password" />
    </Form>
    <span id="spanAlertError" class="min-h-10 font-geist text-4xl text-red-600"></span>
  </section>
</Layout>

<script>
  const formLogin = document.getElementById('formLogin') as HTMLFormElement;

  formLogin.addEventListener('submit', event => {
    event.preventDefault();

    const formData = new FormData(formLogin);
    const email = formData.get('email');
    const password = formData.get('password');

    !!email && !!password && handleLogin(email, password);
  });

  const handleLogin = async (email, password) => {
    const { loginIndigitall } = await import('../api/indigitall');
    const { userSignIn } = await import('../auth/auth');

    userSignIn(email, password)
      .then(() => loginIndigitall(email))
      .then(() => (window.location.href = '/user-profile'))
      .catch(error => {
        const spanAlertError = document.getElementById('spanAlertError');
        spanAlertError!.innerText = error.message;
      });
  };
</script>
