---
import Form from '../components/Form.astro';
import Input from '../components/Input.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Indigitall Web Push - Login">
  <Form id="formLogin" submitId="submit" title="Login" labelSubmit="Submit">
    <Input id="email" type="text" label="Email" />
    <Input id="password" type="password" label="Password" />
  </Form>
</Layout>

<script>
  const formLogin = document.getElementById('formLogin') as HTMLFormElement;

  formLogin.addEventListener('submit', event => {
    event.preventDefault();

    const formData = new FormData(formLogin);
    const loginId = formData.get('email');

    !!loginId && handleLogin(loginId);
  });

  const handleLogin = async loginId => {
    const { login } = await import('../api/indigitall');
    login(loginId).then(() => {
      window.location.href = '/private-zone';
    });
  };
</script>
