---
interface Props {
  id: string;
  type: string;
  label: string;
}

const { id, type, label } = Astro.props;
---

<div class="relative">
  <label for={id} class="absolute left-4 top-2 text-slate-400">{label}</label>
  <input
    id={id}
    name={id}
    class="rounded-md border border-slate-400 px-4 pb-2 pt-8 focus-within:border-slate-700 focus:border-slate-700 focus-visible:border-slate-700 focus-visible:outline-none active:border-slate-700"
    type={type as any}
  />
</div>
